---
import background from '../assets/background.svg';

import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello.astro';
import Grid from '../components/Grid.astro';
---

<Layout>
	<div class="h-full">
		<Image src={background} alt="" class="fixed top-0 left-0 w-full h-full blur-2xl"/>
		
		<div class="flex flex-col items-center">
			<div class="flex flex-row items-center m-32">
				<Hello />
			</div>

			<Grid />
		</div>
	</div>
</Layout>
