---
import Title from '../components/Text/Title.astro';
---

<welcome-message>
    <Title>
        <div id="title" class="transition duration-1000 ease-in-out">
            Hello
        </div>
    </Title>
</welcome-message>

<script>
    const greetings = ["Hola", "Bonjour", "Ciao", "こんにちは", "안녕하세요", "مرحبا", "Привет", "नमस्ते", "Hello"];

    class Welcome extends HTMLElement {
        connectedCallback() {
            const title = this.querySelector('div');
            let index = 0;

            setInterval(() => {
                title!.classList.remove("opacity-100");
                title!.classList.add("opacity-0");

                setTimeout(() => {
                    index = (index + 1) % greetings!.length;
                    title!.textContent = greetings![index];
                    title!.classList.remove("opacity-0");
                    title!.classList.add("opacity-100");
                }, 1000);
            }, 3000); // switch every 3 seconds
        }
    }

    customElements.define('welcome-message', Welcome);
</script>
